<h2><%= @user.name %>さんのプロフィール</h2> 

<table class="table table-striped">
    <tr>
        <th>ユーザネーム</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>年齢</th>
        <td><%= @user.age %></td>
    </tr>
</table>

<%= link_to "質問一覧", qlists_user_path(@user), class: "btn btn-primary" %>
<%= link_to "回答一覧", alists_user_path(@user), class: "btn btn-primary" %>
<% if @user == current_user %>
<%= link_to "プロフィール更新", edit_user_path(@user), class: "btn btn-warning" %>
<% end %>